// _fonts.scss
@font-face {
  font-family: "GenSenRounded";
  src: url("../typography/GenSenRounded2JP-R.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GenSenRounded";
  src: url("../typography/GenSenRounded2JP-M") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GenSenRounded";
  src: url("..typography/GenSenRounded2JP-B") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "GenSenRounded", "Microsoft JhengHei", sans-serif;
}