// 卡片文字超過省略設定
/* 單行截斷 */
.card-title-truncate {
  white-space: nowrap;
  /* 不換行 */
  overflow: hidden;
  /* 超過部分隱藏 */
  text-overflow: ellipsis;
  /* 顯示省略號 */
}

/* 多行截斷（兩行） */
.card-text-truncate {
  display: -webkit-box;
  /* 必須 */
  -webkit-box-orient: vertical;
  /* 必須 */
  -webkit-line-clamp: 2;
  /* 限制兩行 */
  line-clamp: 2;
  /* 標準屬性 */
  overflow: hidden;
  /* 超過隱藏 */
  text-overflow: ellipsis;
  /* 超過部分顯示… */
}


.ratio-3x2 {
  aspect-ratio: 3 / 2;
}


/* 寶貝卡片的設定-圓角 */
.card-pet {
  border-radius: 0 6rem 2rem 2rem;
  background-color: var(--bs-primary-100);
}

  .card-pet img{
    object-fit: cover;
  }

@media(min-width:992px) {
  .card-pet {
    border-radius: 0 6rem 3rem 3rem;
  }
}

/* 寶貝卡片的設定-hover */
.card-pet:hover {
  border: 1px solid var(--bs-primary-500);
  background-color: var(--bs-primary-300);
}

/* 寶貝卡片左上愛心設定 */
.card-heartbtn-position {
  top: 1rem;
  left: 1rem;
}




/* 機構卡片hover設定 */
.card-agency:hover {
  background-color: var(--bs-primary-100);
}

/* 機構卡片左上角help標籤位置設定 */
.card-helpBadge-position {
  left: 4px;
  top: 24px;
  transform: none;
}

/* 桌機以上 (md: 768px↑) */
@media (min-width: 992px) {
  .card-helpBadge-position {
    left: 16px;
    /* 清掉 left */
  }
}

/* card內價格的響應式字重設定 */
@media(min-width:992px) {
  .card-price {
    font-weight: 700;
  }
}




/* 毛玻璃效果設定 */
.glass-card {
  position: relative;
  overflow: hidden;
  /* 保證 overlay 不超出卡片 */
  transition: all 0.3s ease;
}

.glass-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* 半透明毛玻璃底 */
  backdrop-filter: blur(5px);
  /* 毛玻璃模糊 */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  /* 初始隱藏 */
  transition: all 0.3s ease;
}

.glass-card:hover .glass-overlay {
  opacity: 1;
  /* hover 顯示 */
  backdrop-filter: blur(8px);
  /* hover 模糊更明顯 */
}
