 .page-item .page-link {
      border: 0;
      background-color: transparent;
      // font-size: 20px;
      color: #aaaaaa;
      letter-spacing: 2%;
    }

    .page-item .page-link:hover {
      color: var(--bs-primary);
    }



    /* active 狀態（頁碼 1） */
    .page-item.active .page-link {
      color: #fff;
      background-color: var(--bs-primary);
    }
