//分隔線
.block-line {
  display: flex;
  justify-content: center;
  width: calc(12/12)*8;
  font-size: 48px;
  font-weight: 700;
  padding: 24px;
  color: $primary-700;
  border-bottom: 2px solid $primary-700;
}

//表單標題
.accordion-item {
  color: $secondary-800;
}
.accordion-button {
  font-size: 18px;
  font-weight: 500;
  color: $primary-700;
}


//內文
.apply-text {
  gap: 8px;
  padding-bottom: 32px;
}

.apply-text h3{
  height: 1.5;
  color: $primary-700;
  
}



.apply-text h5{
  height: 1.5;
  margin-bottom: 0px;
}



//表單樣式
.apply-form {
  padding-top: 24px;
}

.apply-form span{
  color: $secondary-600;
}

.apply-form input{
  padding: 8px;
  margin: 8px 0px;
  border-radius: 8px;

}

//
.form-check-label {
  font-size: 18px;
  color: $secondary-800;
}







@media(max-width: 768px) {
.accordion-body > ol >li {
  padding: 8px 0px;
}

.apply-title {
  font-size: 32px;
  text-align: center;
}
}