*, *::before, *::after {
  box-sizing: border-box;
}

.body-xuu {
  color: $secondary-800;
  max-width:100%;
}


// 寶貝/機構詳情
.detail-content {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2%;
}

//內文
.detail-text {
  gap: 24px;
  padding-bottom: 24px;
}

.detail-text div > h3{
  height: 1.5;
}

.detail-text p {
  padding: 4px 12px;
  margin-bottom: 0px;
  border-radius: 8px;
  color: $white;
  background-color: $info;
}

.detail-text h5{
  height: 1.5;
  margin-bottom: 0px;
}




//lable
.detail-lable {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
  color: $primary-700;
}



//下拉選單
.dropdown-item {
  padding: 8px 16px;
}
.dropdown-item .option-title {
  font-size: 24px;
  color: $secondary-800;
}

.dropdown-item .option-desc {
  font-size: 16px;
  color: $secondary-700;
}
.dropdown-item:hover,
.dropdown-item:focus {
  //background-color: $primary-300;
  border-radius: 12px

}


.dropdown-menu .dropdown-item {
    white-space: normal;   /* 允許換行 */
    word-wrap: break-word; /* 超長單字自動斷行 */
}














@media(max-width: 768px) {
.detail-content {
  margin: 24px 0px;
  
}










  //輪播按鈕隱藏
  .css-mode-3slides .swiper-button-next,
  .css-mode-3slides .swiper-button-prev,
  .css-mode-3slides .swiper-pagination 
  {
    display: none;
  }
}

