    /* 快速登入hover 狀態 */
.fastLogin:hover{
  color: #1877f2;
}

.underline-link:hover{
  text-decoration: none;
}


// register badge
.register-badge{
  color: $info;
  font-size: 12px;
  margin-left: 1.5rem;
  background: #FFD2D2	;
  border-radius: 0;
}
