<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <!-- bootstrap icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

  <title>支援機構列表</title>


</head>

<body>
  <%- include('./layout/header'); -%>


    <div class="bg-gray-100">


      <img src="/assets/images/angencylist_banner.png" alt="banner" class="img-fluid mb-8 d-md-none"
        style="max-height: 432px;">

      <div class="container pb-56 pt-md-56 pb-md-80">

        <img src="/assets/images/angencylist_banner.png" alt="banner"
          class="rounded-3 mb-8 mb-md-56 img-fluid d-none d-md-block" style="max-height: 432px;">

        <div class="mb-8 mb-md-56">
          <%- include('./layout/agency-list-select'); -%>
        </div>

        <div class="row mb-8 mb-md-56">

          <div class="col-lg-4 col-md-6 col-12 mb-5">
            <a href="./agency-detail-01.html" class="text-decoration-none">
              <!-- card 1 機構agency -->
              <div class="card card-agency  border  position-relative">
                <span class="badge position-absolute  card-helpBadge-position  bg-info px-4 py-1 fs-6 rounded-1">
                  HELP!
                </span>


                <div class="ratio ratio-3x2">
                  <img src="/assets/images/card-img/agency/agency_1.jpg" class="card-img-top" alt="機構卡片圖片">
                </div>

                <div class="card-body px-2 px-md-4 py-md-5">
                  <h3 class="card-title text-secondary mb-1 mb-md-2 lh-sm card-title-truncate">南區保育場受颱風重創，急需救援</h3>
                  <p class="mb-md-4 mb-2 text-primary">毛寶寶基金會</p>
                  <p class="card-text mb-md-5 mb-4 card-text-truncate">因颱風來襲，台南分區部分保育場遭受重創，急需協助場區修復，為毛寶寶們搭建一座可以遮風避雨的場所
                  </p>

                  <div class="d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                    <div class="text-truncate">
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1 me-1 mb-1 me-md-2">建設幫助</span>
                      <span
                        class="badge rounded-3  text-bg-primary-400  text-secondary fw-normal fs-8 fs-md-6 px-2 py-1">醫療幫助</span>
                    </div>
                    <h4 class="card-price fs-lg-2 text-primary ms-md-auto mt-2 mt-md-0 text-nowrap">＄500/次</h4>
                  </div>
                </div>

              </div>
              <!-- card 1 機構 -->
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-5">
            <a href="./agency-detail-01.html" class="text-decoration-none">
              <!-- card 1 機構agency -->
              <div class="card card-agency  border  position-relative">
                <!-- <span class="badge position-absolute  card-helpBadge-position  bg-info px-4 py-1 fs-6 rounded-1">
                HELP!
              </span> -->
                <div class="ratio ratio-3x2">
                  <img src="/assets/images/card-img/agency/agency_2.jpg" class="card-img-top" alt="機構卡片圖片">
                </div>
                <div class="card-body px-2 px-md-4 py-md-5">
                  <h3 class="card-title text-secondary mb-1 mb-md-2 lh-sm card-title-truncate">讓救援成為教育的一部分</h3>
                  <p class="mb-md-4 mb-2 text-primary">小腳印之家</p>
                  <p class="card-text mb-md-5 mb-4 card-text-truncate">教育推廣和實際救援，由偏鄉地區的老師和學生共同創辦，讓愛落實在每一個角落，我們需要一次</p>

                  <div class="d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                    <div class="text-truncate">
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1 me-1 mb-1 me-md-2">設備支援</span>

                    </div>
                    <h4 class="card-price fs-lg-2 text-primary ms-md-auto mt-2 mt-md-0 text-nowrap">＄150/次</h4>
                  </div>
                </div>

              </div>
              <!-- card 1 機構 -->
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-5">
            <a href="./agency-detail-01.html" class="text-decoration-none">
              <!-- card 1 機構agency -->
              <div class="card card-agency  border  position-relative">

                <!-- <span class="badge position-absolute  card-helpBadge-position  bg-info px-4 py-1 fs-6 rounded-1">
                HELP!
              </span> -->
                <div class="ratio ratio-3x2">
                  <img src="/assets/images/card-img/agency/agency_3.jpg" class="card-img-top" alt="機構卡片圖片">
                </div>
                <div class="card-body px-2 px-md-4 py-md-5">
                  <h3 class="card-title text-secondary mb-1 mb-md-2 lh-sm card-title-truncate">目前有許多年長的寶貝...</h3>
                  <p class="mb-md-4 mb-2 text-primary">幸福尾巴協會</p>
                  <p class="card-text mb-md-5 mb-4 card-text-truncate">
                    經營​多​個​中​繼​安置站，​目前​面​臨許多​年​長寶貝來​不​及​等​到​他​們​的​新家​便去​了​寶貝​星球，​我​們​希望​為...</p>

                  <div class="d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                    <div class="text-truncate">
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1 me-1 mb-1 me-md-2">醫療幫助</span>
                      <span
                        class="badge rounded-3  text-bg-primary-400  text-secondary fw-normal fs-8 fs-md-6 px-2 py-1">生命禮儀</span>
                    </div>
                    <h4 class="card-price fs-lg-2 text-primary ms-md-auto mt-2 mt-md-0 text-nowrap">＄350/次</h4>
                  </div>
                </div>

              </div>
              <!-- card 1 機構 -->
            </a>
          </div>


          <div class="col-lg-4 col-md-6 col-12 mb-5">
            <a href="./agency-detail-01.html" class="text-decoration-none">
              <!-- card 1 機構agency -->
              <div class="card card-agency  border  position-relative">
                <span class="badge position-absolute  card-helpBadge-position  bg-info px-4 py-1 fs-6 rounded-1">
                  HELP!
                </span>
                <div class="ratio ratio-3x2">
                  <img src="/assets/images/card-img/agency/agency_4.jpg" class="card-img-top" alt="機構卡片圖片">
                </div>

                <div class="card-body px-2 px-md-4 py-md-5">
                  <h3 class="card-title text-secondary mb-1 mb-md-2 lh-sm card-title-truncate">高齡與身障安全之家</h3>
                  <p class="mb-md-4 mb-2 text-primary">喵喵之家</p>
                  <p class="card-text mb-md-5 mb-4 card-text-truncate">
                    我​們收容​並照​顧​老​病貓，​為​他​們​提供​醫療​與情緒​安定​陪伴，​目前​面臨部分​疾病​擴散，​需要​緊急​醫療...</p>

                  <div class="d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                    <div class="text-truncate">
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1 me-1 mb-1 me-md-2">醫療幫助</span>
                      <span
                        class="badge rounded-3  text-bg-primary-400  text-secondary fw-normal fs-8 fs-md-6 px-2 py-1">設備支援</span>
                    </div>
                    <h4 class="card-price fs-lg-2 text-primary ms-md-auto mt-2 mt-md-0 text-nowrap">＄600/次</h4>
                  </div>
                </div>

              </div>
              <!-- card 1 機構 -->
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-5">
            <a href="./agency-detail-01.html" class="text-decoration-none">
              <!-- card 1 機構agency -->
              <div class="card card-agency  border  position-relative">
                <span class="badge position-absolute  card-helpBadge-position  bg-info px-4 py-1 fs-6 rounded-1">
                  HELP!
                </span>
                <div class="ratio ratio-3x2">
                  <img src="/assets/images/card-img/agency/agency_5.jpg" class="card-img-top" alt="機構卡片圖片">
                </div>

                <div class="card-body px-2 px-md-4 py-md-5">
                  <h3 class="card-title text-secondary mb-1 mb-md-2 lh-sm card-title-truncate">讓醫療不再是富有的象徵</h3>
                  <p class="mb-md-4 mb-2 text-primary">尾巴醫療基金會</p>
                  <p class="card-text mb-md-5 mb-4 card-text-truncate">我們目前面臨多位寶貝需要執行大型手術，懇請大家協助支援!!</p>

                  <div class="d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                    <div class="text-truncate">
                      <span
                        class="badge rounded-3  text-bg-primary-400  text-secondary fw-normal fs-8 fs-md-6 px-2 py-1">醫療幫助</span>
                    </div>
                    <h4 class="card-price fs-lg-2 text-primary ms-md-auto mt-2 mt-md-0 text-nowrap">＄950/次</h4>
                  </div>
                </div>

              </div>
              <!-- card 1 機構 -->
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-5">
            <a href="./agency-detail-01.html" class="text-decoration-none">
              <!-- card 1 機構agency -->
              <div class="card card-agency  border  position-relative">
                <!-- <span class="badge position-absolute  card-helpBadge-position  bg-info px-4 py-1 fs-6 rounded-1">
                HELP!
              </span> -->
                <div class="ratio ratio-3x2">
                  <img src="/assets/images/card-img/agency/agency_6.jpg" class="card-img-top" alt="機構卡片圖片">
                </div>

                <div class="card-body px-2 px-md-4 py-md-5">
                  <h3 class="card-title text-secondary mb-1 mb-md-2 lh-sm card-title-truncate">老年犬最溫暖的家</h3>
                  <p class="mb-md-4 mb-2 text-primary">毛大孩希望之家</p>
                  <p class="card-text mb-md-5 mb-4 card-text-truncate">我們希望可以讓老年犬獲得安養照護、心裡陪伴、安寧照顧、給他們一個安穩的晚年生活</p>

                  <div class="d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                    <div class="text-truncate">
                      <span
                        class="badge rounded-3  text-bg-primary-400  text-secondary fw-normal fs-8 fs-md-6 px-2 py-1">生命禮儀</span>
                    </div>
                    <h4 class="card-price fs-lg-2 text-primary ms-md-auto mt-2 mt-md-0 text-nowrap">＄350/次</h4>
                  </div>
                </div>

              </div>
              <!-- card 1 機構 -->
            </a>
          </div>


          <div class="col-lg-4 col-md-6 col-12 mb-5">
            <a href="./agency-detail-01.html" class="text-decoration-none">
              <!-- card 1 機構agency -->
              <div class="card card-agency  border  position-relative">
                <!-- <span class="badge position-absolute  card-helpBadge-position  bg-info px-4 py-1 fs-6 rounded-1">
                HELP!
              </span> -->
                <div class="ratio ratio-3x2">
                  <img src="/assets/images/card-img/agency/agency_7.jpg" class="card-img-top" alt="機構卡片圖片">
                </div>

                <div class="card-body px-2 px-md-4 py-md-5">
                  <h3 class="card-title text-secondary mb-1 mb-md-2 lh-sm card-title-truncate">不只有錢才能幫忙</h3>
                  <p class="mb-md-4 mb-2 text-primary">志工好朋友平台</p>
                  <p class="card-text mb-md-5 mb-4 card-text-truncate">人人都能幫忙，我們希望可以多購入一台接送車，提供偏遠地區的毛寶貝救援送醫服務</p>

                  <div class="d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                    <div class="text-truncate">
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1 me-1 mb-1 me-md-2">設備支援</span>
                    </div>
                    <h4 class="card-price fs-lg-2 text-primary ms-md-auto mt-2 mt-md-0 text-nowrap">＄520/次</h4>
                  </div>
                </div>

              </div>
              <!-- card 1 機構 -->
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-5">
            <a href="./agency-detail-01.html" class="text-decoration-none">
              <!-- card 1 機構agency -->
              <div class="card card-agency  border  position-relative">
                <!-- top-0 start-0 mt-5 ms-4 -->
                <span class="badge position-absolute  card-helpBadge-position  bg-info px-4 py-1 fs-6 rounded-1">
                  HELP!
                </span>
                <div class="ratio ratio-3x2">
                  <img src="/assets/images/card-img/agency/agency_8.jpg" class="card-img-top" alt="機構卡片圖片">
                </div>

                <div class="card-body px-2 px-md-4 py-md-5">
                  <h3 class="card-title text-secondary mb-1 mb-md-2 lh-sm card-title-truncate">貓貓絕育計畫</h3>
                  <p class="mb-md-4 mb-2 text-primary">喵了個咪中途之家</p>
                  <p class="card-text mb-md-5 mb-4 card-text-truncate">
                    有​一​批​新​成員​加入​了​我​們，​本舍​希望​可以​維持​原本​貓​貓們​的​生活​品質，​以及​新​進​貓貓​的​健康，​希望​...</p>

                  <div class="d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                    <div class="text-truncate">
                      <span
                        class="badge rounded-3  text-bg-primary-400  text-secondary fw-normal fs-8 fs-md-6 px-2 py-1">醫療幫助</span>
                    </div>
                    <h4 class="card-price fs-lg-2 text-primary ms-md-auto mt-2 mt-md-0 text-nowrap">＄250/次</h4>
                  </div>
                </div>

              </div>
              <!-- card 1 機構 -->
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-5">
            <a href="./agency-detail-01.html" class="text-decoration-none">
              <!-- card 1 機構agency -->
              <div class="card card-agency  border  position-relative">
                <!-- top-0 start-0 mt-5 ms-4 -->
                <span class="badge position-absolute  card-helpBadge-position  bg-info px-4 py-1 fs-6 rounded-1">
                  HELP!
                </span>
                <div class="ratio ratio-3x2">
                  <img src="/assets/images/card-img/agency/agency_9.jpg" class="card-img-top" alt="機構卡片圖片">
                </div>
                <div class="card-body px-2 px-md-4 py-md-5">
                  <h3 class="card-title text-secondary mb-1 mb-md-2 lh-sm card-title-truncate">幼貓疫苗接種協助</h3>
                  <p class="mb-md-4 mb-2 text-primary">喵了個咪中途之家</p>
                  <p class="card-text mb-md-5 mb-4 card-text-truncate">
                    多​貓​家庭​容易​有​群發​疾病​的​問題，​為​了​降低​發病​的​嚴重性​與致​死率，​讓貓​貓們​可以​健康​的​生活，​希.​..</p>

                  <div class="d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                    <div class="text-truncate">
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1 me-1 mb-1 me-md-2">醫療幫助</span>
                    </div>
                    <h4 class="card-price fs-lg-2 text-primary ms-md-auto mt-2 mt-md-0 text-nowrap">＄100/次</h4>
                  </div>
                </div>

              </div>
              <!-- card 1 機構 -->
            </a>
          </div>


        </div>






        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item fs-md-5 me-md-4"><a class="page-link text-primary" href="#"><i
                  class="bi bi-chevron-left"></i></a>
            </li>
            <li class="page-item fs-md-5 me-md-4 active"><a class="page-link" href="#">1</a></li>
            <li class="page-item fs-md-5 me-md-4"><a class="page-link" href="#">2</a></li>
            <li class="page-item fs-md-5 me-md-4"><a class="page-link" href="#">3</a></li>
            <li class="page-item fs-md-5 me-md-4"><a class="page-link" href="#">...</a></li>
            <li class="page-item fs-md-5 me-md-4"><a class="page-link" href="#">7</a></li>
            <li class="page-item"><a class="page-link text-primary" href="#"><i class="bi bi-chevron-right"></i></a>
            </li>
          </ul>
        </nav>



      </div><!--container-->



    </div>









    <%- include('./layout/footer'); -%>
      <%- include('./layout/scroll-top-button'); -%>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
          crossorigin="anonymous"></script>
        <script type="module" src="../main.js"></script>
</body>

</html>
