<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <title>index</title>

</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="container mt-64">



      <div class="row mb-64">
        <div class="col-lg-4 col-md-6 col-12 mb-5">
          <a href="#" class="text-decoration-none">
            <!-- card 1 機構agency -->
            <div class="card card-agency  border  position-relative">
              <span class="badge position-absolute  card-helpBadge-position  bg-info px-4 py-1 fs-6 rounded-1">
                HELP!
              </span>


              <div class="ratio ratio-3x2">
                <img src="/assets/images/card-img/agency/agency_1.jpg" class="card-img-top" alt="機構卡片圖片">
              </div>

              <div class="card-body px-2 px-md-4 py-md-5">
                <h3 class="card-title text-secondary mb-1 mb-md-2 lh-sm card-title-truncate">南區保育場受颱風重創，急需救援</h3>
                <p class="mb-md-4 mb-2 text-primary">毛寶寶基金會</p>
                <p class="card-text mb-md-5 mb-4 card-text-truncate">因颱風來襲，台南分區部分保育場遭受重創，急需協助場區修復，為毛寶寶們搭建一座可以遮風避雨的場所
                </p>

                <div class="d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                  <div class="text-truncate">
                    <span
                      class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1 me-1 mb-1 me-md-2">建設幫助</span>
                    <span
                      class="badge rounded-3  text-bg-primary-400  text-secondary fw-normal fs-8 fs-md-6 px-2 py-1">醫療幫助</span>
                  </div>
                  <h4 class="card-price fs-lg-2 text-primary ms-md-auto mt-2 mt-md-0 text-nowrap">＄500/次</h4>
                </div>
              </div>

            </div>
            <!-- card 1 機構 -->
          </a>
        </div>
      </div>



      <div class="row mb-64">
        <div class="col-lg-4 col-md-6 col-12 mb-5">
          <a href="#" class="text-decoration-none text-reset">
            <!-- card 2 寶貝pet -->
            <div class="card-pet shadow overflow-auto position-relative">

              <!-- 愛心按鈕 -->
              <button type="button" class="btn p-0 border-0 bg-transparent position-absolute card-heartbtn-position">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M20.9702 7.6665C23.4937 7.66654 25.6393 9.81907 25.6665 12.5435C25.6915 15.0994 24.8104 17.4861 22.8823 19.8735C21.9844 20.9847 20.312 22.8256 16.356 25.5532L16.354 25.5552C16.2481 25.6285 16.1245 25.6654 15.9995 25.6655C15.8751 25.665 15.7524 25.6273 15.647 25.5542L15.645 25.5532L14.9292 25.0522C11.4817 22.598 9.95944 20.9143 9.11768 19.8726C7.30935 17.6341 6.42342 15.3967 6.34033 13.02L6.33447 12.5425C6.36176 9.81887 8.5064 7.66672 11.0298 7.6665C12.8741 7.6665 14.1864 8.71676 15.0044 9.68311L15.0083 9.68701C15.13 9.82917 15.2814 9.94464 15.4526 10.0239C15.6239 10.1032 15.811 10.144 16.0005 10.144C16.19 10.144 16.377 10.1033 16.5483 10.0239C16.7196 9.94457 16.871 9.82927 16.9927 9.68701L16.9956 9.68213C17.8132 8.71541 19.1257 7.6665 20.9702 7.6665Z"
                    fill="white" stroke="#7C6952" stroke-width="2" />
                </svg>
              </button>
              <!-- 愛心按鈕 -->

              <div class="ratio ratio-3x2">
                <img src="/assets/images/card-img/pet/pet_1_奶茶.png" class="card-img-top" alt="寶貝卡片圖片">
              </div>

              <!-- card body -->
              <div class="card-body px-2 py-4 px-md-5 py-md-7 ">
                <div class="d-flex align-items-center">
                  <h3 class="card-title text-gray-900 mb-md-2 card-title-truncate">奶茶</h3>
                  <span class="fs-6 badge bg-primary px-4 py-1  ms-auto rounded-3 fw-normal">可認養</span>
                </div>
                <p class="mb-md-4 mb-2 text-primary">喵了個咪中途之家</p>
                <p class="card-text mb-md-5 mb-4 card-text-truncate">雖然一開始很怕生，但熟了之後很黏人，個性非常地活潑，對其他的狗狗也很友善。</p>

                <div class="d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                  <div class="text-truncate">
                    <span
                      class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1  mb-1  me-1 me-md-2">新北市</span>
                      <span
                      class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1  mb-1  me-1 me-md-2">新北市</span>
                      <span
                      class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1  mb-1  me-1 me-md-2">新北市</span>
                      <span
                      class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1  mb-1  me-1 me-md-2">新北市</span>
                      <span
                      class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1  mb-1  me-1 me-md-2">新北市</span>
                      <span
                      class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1  mb-1  me-1 me-md-2">新北市</span>
                    <span
                      class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1 mb-1  me-1 me-md-2">已結紮</span>
                  </div>
                  <h4 class="card-price fs-lg-2 text-primary ms-md-auto mt-2 mt-md-0 text-nowrap">＄50/次</h4>
                </div>
              </div> <!-- card body -->
            </div>
            <!-- card 2 寶貝pet -->
          </a>
        </div>
      </div>



      <div class="row mb-64">
        <div class="col-lg-10 col-md-10 col-12">

          <!-- card 3 優惠活動promotion -->
          <div class="row">
            <div class="col-md-12 col-lg-6 col-12">
              <img src="/assets/images/meet dogs 1.jpg" alt="優惠活動圖片" class="img-fluid mx-auto d-block ">
            </div>
            <div class="col-md-12 col-lg-6 col-12 p-md-5 pt-4 pb-2 d-flex flex-column">
              <div>
                <h2 class="text-primary mb-5">滿額參加│狗狗見面會開放報名</h2>
                <p class="fs-5">即日起，單筆訂單金額滿NT$520，即可免費報名參加雲端狗狗見面會!活動當天將與其他領養者一同互動交流，還有可愛驚喜等你來體驗。名額有限，立刻報名參加吧!</p>
              </div>
              <div class="d-grid mt-auto">
                <button
                  class="btn btn-primary rounded-3 fs-4 py-2 px-4 d-flex align-items-center justify-content-between"
                  type="button">
                  <div>
                    <svg width="20" height="21" viewBox="0 0 20 21" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg" class="me-4">
                      <path
                        d="M19.5999 2.0999C19.5999 1.68401 19.3846 1.29777 19.0308 1.07912C18.677 0.860475 18.2352 0.840598 17.8632 1.02659L8.51662 5.6999H3.9999C2.01168 5.6999 0.399902 7.31168 0.399902 9.2999C0.399902 11.2881 2.01168 12.8999 3.9999 12.8999H4.335L6.46149 19.2794C6.62483 19.7694 7.0834 20.0999 7.59991 20.0999H8.79991C9.46265 20.0999 9.99991 19.5626 9.99991 18.8999V13.6416L17.8632 17.5732C18.2352 17.7592 18.677 17.7393 19.0308 17.5207C19.3846 17.302 19.5999 16.9158 19.5999 16.4999V2.0999Z"
                        fill="#F4F0EC" />
                    </svg>

                    <span class="fs-7 fs-md-6">本次活動由毛寶寶基金會主辦</span>
                  </div>
                  <svg width="9" height="17" viewBox="0 0 9 17" fill="none" xmlns="http://www.w3.org/2000/svg"
                    class="ms-auto">
                    <path d="M0.999999 1.5L8 8.5L1 15.5" stroke="white" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <!-- card 3 優惠活動promotion -->

        </div>
      </div>



      <div class="row">
        <div class="col-md-5 col-6">
          <a href="#" class="text-decoration-none">
            <!-- card 4 最新消息news -->
            <div class="rounded overflow-auto position-relative glass-card">

              <img src="/assets/images/dog in park 1.jpg" class="card-img-top" alt="News卡片圖片">
              <div class="p-2  p-md-4">
                <p class=" text-secondary mb-2 fw-medium fs-6 fs-md-4 lh-sm ">山友通報，近期有惡意人士在南投山區放置捕獸夾。</p>
              </div>


              <!-- 毛玻璃 hover overlay -->
              <div class="glass-overlay d-flex justify-content-center align-items-center">
                <span class="text-light fs-md-2 fs-5">
                  Read More
                  <svg width="9" height="17" viewBox="0 0 9 17" fill="none" xmlns="http://www.w3.org/2000/svg"
                    class="ms-2">
                    <path d="M0.999999 1.5L8 8.5L1 15.5" stroke="white" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </span>
              </div>
              <!-- 毛玻璃 hover overlay -->
            </div>
            <!-- card 4 最新消息news -->
          </a>


        </div>
      </div>


    </div>








    <%- include('./layout/footer'); -%>
      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
      <script type="module" src="../main.js"></script>
</body>

</html>
