<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <!-- bootstrap icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

  <title>常見問題</title>


</head>

<body>
  <%- include('./layout/header'); -%>


    <div class="bg-gray-200">

      <div class="container py-md-56 py-8">
        <h2 class="text-center py-md-8 py-6">常見問題</h2>

<!-- col-md-3 nav nav-pills flex-md-column me-3 -->
 <!-- col-md-3 nav flex-md-column justify-content-center  nav-pills me-3 -->

        <div class="row align-items-start justify-content-center">
          <div class="col-md-3 nav nav-pills flex-md-column justify-content-center  align-items-start me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class=" nav-link active rounded-0 p-4 mb-md-2 mb-6" id="v-pills-home-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
              aria-selected="true">支援與認養</button>
            <button class=" nav-link rounded-0 p-4 mb-md-2 mb-6" id="v-pills-profile-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
              aria-selected="false">捐款與贊助</button>
            <button class=" nav-link rounded-0 p-4 mb-md-2 mb-6" id="v-pills-disabled-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled"
              aria-selected="false">會員權益</button>
            <button class=" nav-link rounded-0 p-4 mb-md-2 mb-6" id="v-pills-messages-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
              aria-selected="false">帳號與登入問題</button>
            <button class=" nav-link rounded-0 p-4 mb-md-2 mb-6" id="v-pills-settings-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
              aria-selected="false">合作收容機構資訊</button>
            <button class=" nav-link rounded-0 p-4 mb-md-2 mb-6 " id="v-pills-5-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-5" type="button" role="tab" aria-controls="v-pills-5"
              aria-selected="false">機構註冊與管理功能</button>
          </div>

          <div class="col-md-7 tab-content px-8" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"
              tabindex="0">

              <div class="accordion accordion-flush" id="accordionFlushExample">

                <div class="accordion-item border-0">
                  <h2 class="accordion-header ">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      1. 支援機構 / 認養寶貝 / 領養寶貝有什麼不同？
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <ul>
                        <li>
                          <b>支援機構</b>
                          <p>您可以透過平台支援寶貝所屬的動物收容或救援機構，以捐款贊助的方式購買支援方案，提供機構在照護寶貝所需的資金(通常機構會將這贊助用於購買飼料、醫療或照護資源)</p>
                        </li>
                        <li>
                          <b>認養寶貝</b>
                          <p>您可以選擇在平台上支援特定的寶貝，透過購買支援方案來幫助該寶貝的日常需求，認養後可獲得該寶貝的近況回饋。</p>
                        </li>
                        <li>
                          <b>領養寶貝</b>
                          <p>您可以在帶有「可領養」標籤的寶貝頁面中，填寫「領養申請表」，申請表會交由該寶貝的機構做審核，通過審核後會由機構聯繫您處理後續領養流程，並成為正式飼主給予寶貝一個永久的家。</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item border-0">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      2. 我要怎麼支援/認養寶貝
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body py-6">在寶貝的介紹頁面點擊想要的「支援方案」，並選擇支援次數，即可將方案加入購物車。完成結帳後，該寶貝所屬機構會於
                      <b>5–7個工作天</b>提供回饋影片給您。
                    </div>
                  </div>
                </div>
                <div class="accordion-item border-0">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      3. 支援方案有什麼差別？
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body py-6">
                      不同的支援方案對應不同的金額與內容，例如飼料、醫療費或生活用品等。<br>您可以在方案說明中查看詳細內容，選擇最符合您心意的支持方式。
                    </div>
                  </div>
                </div>
                <div class="accordion-item border-0">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                      4. 我可以一次支援多隻寶貝嗎？
                    </button>
                  </h2>
                  <div id="flush-collapseFour" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      可以的！您可以在不同寶貝的介紹頁面分別加入支援方案，結帳時會一併處理。
                    </div>
                  </div>
                </div>
                <div class="accordion-item border-0">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                      5. 支援後可以收到寶貝的最新近況嗎？
                    </button>
                  </h2>
                  <div id="flush-collapseFive" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      可以，機構會依據支援方案內容提供回饋，例如照片、影片或文字更新，讓您隨時掌握寶貝的近況。
                    </div>
                  </div>
                </div>
                <div class="accordion-item border-0">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                      6. 我可以申請領養嗎？領養寶貝需要哪些準備？
                    </button>
                  </h2>
                  <div id="flush-collapseSix" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      您可申請領養有 <b>「可領養」</b> 標籤的寶貝。 <br>
                      請在寶貝介紹頁面點擊該標籤按鈕，並填寫領養申請表。申請時通常需要：
                      <ul>
                        <li>聯絡資訊</li>
                        <li>居住環境照片</li>
                        <li>家中其他寵物的健康證明（若有）</li>
                      </ul>
                      填寫完成後，資料將進入審核階段，後續由該寶貝所屬機構與您聯繫。
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                      7. 領養流程需要多久？
                    </button>
                  </h2>
                  <div id="flush-collapseSeven" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      每個機構的流程略有不同，一般會在收到申請後 7–14 個工作天內完成審核並與您確認，之後安排與寶貝的見面與後續領養事宜。
                    </div>
                  </div>
                </div>


              </div>

            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"
              tabindex="0">捐款與贊助內容</div>
            <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab"
              tabindex="0">會員權益內容</div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"
              tabindex="0">帳號與登入問題內容</div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"
              tabindex="0">合作收容機構資訊內容</div>
            <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-5-tab" tabindex="0">
              機構註冊與管理功能內容</div>
          </div>
          <hr class="col-md-10 col-12 my-md-80 my-56">
        </div>





        <!-- 下方表單 -->
        <div class="row justify-content-center">
          <div class="col-md-8 col-11 py-5  px-lg-64 px-4">
            <form action="">
              <div class="mb-8 text-center">
                <p>尊敬的支援者您好</p>
                <p>如您對我們提供的服務內容有任何問題，建議您可先參考<a href="/pages/FAQ.html">常見問題</a>，以便快速獲得解答</p>
                <p>若您的問題仍未解決，請填寫下方表格，我們將於收到您的來信後盡快為您處理。</p>
              </div>
              <div>

                <input type="text" class="form-control mb-5 p-3" id="FAQname" placeholder="姓名">
                <input type="email" class="form-control mb-5 p-3" id="FAQemail" placeholder="email">
                <textarea class="form-control mb-8 p-3" id="FAQtextarea" rows="8"
                  placeholder="請描述您的問題，我們將透過您提供的電子郵件聯絡您。"></textarea>
                <div class="text-center">
                  <button type="submit" class="btn btn-info px-6 text-light rounded-1 ">送出</button>
                </div>


              </div>


            </form>
          </div>
        </div>


      </div>

    </div>


    <%- include('./layout/footer'); -%>
      <%- include('./layout/scroll-top-button'); -%>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
          crossorigin="anonymous"></script>
        <script type="module" src="../main.js"></script>
</body>

</html>
