<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <!-- bootstrap icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

  <title>忘記密碼</title>
</head>

<body>
  <%- include('./layout/header'); -%>

      <div class="bg-primary-200">

        <div class="container py-8">
          <div class="row justify-content-center my-3">
            <div class="col-md-8 col-lg-6">


              <div class="border border-primary p-64 bg-primary-100 shadow"><!-- 登入區塊外框底色設定 -->

                <h5 class="text-center text-secondary mb-6">忘記密碼</h5>

                <p class="text-center mb-8">請輸入您的email信箱，將發送郵件驗證會員身份</p>

                <div class=""> <!--以下是form表單-->

                  <form action="">

                    <!-- 忘記密碼email輸入框 -->
                    <div class="form-floating mb-4">
                      <input type="email" class="form-control" id="forgot-password-email" placeholder="登入帳號"
                        aria-describedby="emailHelp">
                      <label for="forgot-password-email" class="form-label fs-8">電子郵件</label>
                    </div>
                    <!-- 忘記密碼email輸入框 -->


                    <!-- 送出按鈕 -->
                    <div class="d-grid text-center">
                      <button type="button" class="btn border btn-primary fs-6 py-3 mb-64"> 送出 </button>
                      <div class="d-flex justify-content-between">
                        <a href="./login.html" class="fs-8 text-secondary-700 mx-4">會員登入</a>
                        <a href="./register.html" class="fs-8 text-secondary-700 mx-4">新用戶註冊</a>
                      </div>
                    </div>
                    <!-- 送出按鈕 -->

                  </form>

                </div> <!--form表單結束-->

              </div><!-- 登入區塊外框底色設定 -->


            </div>
          </div>
        </div>

      </div>




 <%- include('./layout/scroll-top-button'); -%>
      <%- include('./layout/footer'); -%>

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
          crossorigin="anonymous"></script>
        <script type="module" src="../main.js"></script>
</body>

</html>
