<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <!-- bootstrap icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

  <title>index</title>
</head>

<body class="body-xuu">
  <%- include('./layout/header-or'); -%>


  <!--banner-->
  
  <section class="bg-primary-200 d-flex flex-column align-items-center">
  <section class="index-main">

    <div class="index-main-img">
      <img src="/assets/images/index-dog.jpg" alt="首頁圖片">
    </div>

    <div class="col align-self-center index-main-content">
      <p>我們相信，
      <br class="d-block d-md-none">每一個生命都值得被愛、被珍惜。
      </p>
      <p class="pb-lg-0 pb-sm-5">加入我們，
      <br class="d-block d-md-none">讓雲端的溫柔，成為守護動物的力量。
      </p>
      
      <div class="d-flex gap-lg-8 gap-5 ">
      <button type="button" class="btn btn-outline-primary border border-2 border border-primary index-main-btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
          <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
      </svg>

      幫助機構
      </button>

      <button type="button" class="btn btn-primary-400 text-primary-700 index-main-btn border-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
      </svg>
            
      關懷寶貝
      </button></div>
      
    </div>
  </section>
  </section>
  <!--banner-->


  

  <!-- 機構支援專區 Slider main container -->
   <section class="index-content">
    <div>
      <%- include('./layout/component/swiper-agency'); -%>
    </div>
   </section>
  <!-- 機構支援專區 Slider main container -->


  <!-- 寶貝認養專區 Slider main container -->
   <section class="index-content">
    <div>
      <%- include('./layout/component/swiper-pet'); -%>
    </div>
   </section>
  <!-- 寶貝認養專區 Slider main container -->


  <!-- 優惠活動 Slider main container -->
   <section class="index-content index-content-img  ">
    <div>
      <%- include('./layout/component/swiper-promotion'); -%>
    </div>

    <span>
      <img src="/assets/images/cat-hand.png" alt="首頁貓爪">
    </span>
   </section>
  <!-- 優惠活動 Slider main container -->



  <!-- 最新消息 Slider main container -->
   <section class="index-content">
    <div>
      <%- include('./layout/component/swiper-news'); -%>
    </div>
   </section>
  <!-- 最新消息 Slider main container -->




  <!-- 我們在做的事 -->
  <section class="index-content">
    <%- include('./layout/component/index-about'); -%>
  </section>
  <!-- 我們在做的事 -->
   
  

  <section class="index-content-bg">
    <img class="d-none d-md-block" src="/assets/images/Union.png" alt="首頁貓貓頭-web">
    <img class="d-block d-md-none" src="/assets/images/Union-mob.png" alt="首頁貓貓頭-mob">
  </section>



    <%- include('./layout/scroll-top-button'); -%>
    <%- include('./layout/footer'); -%>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
          crossorigin="anonymous"></script>
        <script type="module" src="../main.js"></script>
        
</body>

</html>
