<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <!-- bootstrap icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

  <title>login</title>

</head>

<body>
  <%- include('./layout/header-or'); -%>


<div class="bg-primary-200">

  <div class="container py-8">
    <div class="row justify-content-center my-3">
      <div class="col-md-8 col-lg-6">


        <div class="border border-primary p-64 bg-primary-100 shadow"><!-- 登入區塊外框底色設定 -->

          <h4 class="text-center text-primary mb-2">會員登入</h4>

          <div class=""> <!--以下是form表單-->

            <form action="">

              <!-- 帳號 -->
              <div class="mb-4">
                <p class="mb-2">帳號</p>
                <div class="form-floating ">
                  <input type="email" class="form-control" id="login-email" placeholder="登入帳號"
                    aria-describedby="emailHelp">
                  <label for="login-email" class="form-label fs-8">電子郵件</label>
                </div>
              </div>
              <!-- 帳號 -->

              <!-- 密碼 -->
              <div class="mb-6">
                <p class=" mb-2">密碼</p>
                <div class="form-floating text-end">
                  <input type="password" class="form-control" id="login-password" placeholder="登入密碼">
                  <label for="login-password" class="form-label fs-8">密碼</label>
                  <a href="./forgot-password.html" class="fs-8 text-secondary-700 underline-link">忘記密碼</a>
                </div>
              </div>
              <!-- 密碼 -->

              <!-- 快速登入 -->
              <div class="mb-6">
                <p class="mb-1 fs-7 text-center text-secondary-800">快速登入</p>
                <div class="d-flex justify-content-center text-secondary">
                  <a href="#" class="pe-4 fs-4 text-secondary"><i class="bi bi-browser-chrome fastLogin"></i></a>
                  <a href="#" class="pe-4 fs-4 text-secondary"><i class="bi bi-facebook fastLogin"></i></a>
                  <a href="#" class="fs-4 text-secondary"><i class="bi bi-line fastLogin"></i></a>
                </div>
              </div>
              <!-- 快速登入 -->

              <!-- 登入按鈕 -->
              <div class="d-grid text-center">
                
                <button type="button" class="btn border btn-primary fs-6 py-3 mb-64" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">
                  <a href="./user.html" style="text-decoration: none; color: white;">登入</a>
                  </button>
                <a href="./register.html" class="text-secondary underline-link">還沒有帳戶？點擊此處註冊</a>
              </div>
              <!-- 登入按鈕 -->

              <!-- Button trigger modal -->
              <!-- Modal 
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">登入失敗</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      您輸入的帳號或密碼有誤，請重新輸入。
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">確定</button>
                    </div>
                  </div>
                </div>
              </div>
              彈出視窗-->
              <!-- Modal 彈出視窗-->

            </form>

          </div> <!--form表單結束-->

        </div><!-- 登入區塊外框底色設定 -->


      </div>
    </div>
  </div>

</div>


      <%- include('./layout/footer'); -%>
      <%- include('./layout/scroll-top-button'); -%>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
          crossorigin="anonymous"></script>
        <script type="module" src="../main.js"></script>
</body>

</html>
