<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>優惠活動</title>
    <style>
      .step-btn:hover{
          background-color: #E7DFD7 !important;
          color: #887258 !important; 
       }
    </style>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="bg-secondary-100 pb-56">

      <div class="container">
      <div  class="pb-6">
        <img src="/assets/images/trap-1.jpg" alt="banner-捕獸夾" class="w-100"  style="max-width: 1296px; max-height:432px ; border-radius: 8px; object-fit: cover; overflow: hidden;">
      </div>
      
      <div class="row py-md-9 py-4">
        <div class="col-md-4">
          <img src="/assets/images/trap-2.jpg" alt="捕獸夾-2" class="w-100" style="border-radius: 8px;">
        </div>
        <div class="col-1"></div>
        <div class="col-md-7  d-flex flex-column justify-content-between ">
          <div class="fw-bold fs-1 lh-sm  text-primary-700  pt-6 pt-md-0 ">山友通報，近期有惡意人士在南投山區放置捕獸夾</div>
          <div class="py-6">
            <div class="fw-medium text-secondary-800 lh-sbase fs-4 ">山友通報，近期有惡意人士在南投山區放置捕獸夾，如有發現請聯繫以下單位進行獸夾回收處理，民眾也能先拿不要的衣物、廢棄的紙箱或物品，進行覆蓋，避免毛小孩們誤入，造成更嚴重的災害</div>
          </div>
          
          <div class="fw-bold text-end fs-3 lh-sm text-primary-600">📣 感謝 "熱心小盧" 資訊提供。</div>
          
          
          
        </div>
      </div>
    </div>
    </div>
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
