<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <!-- bootstrap icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <title>最新消息</title>
  <style>
    .w-md-40 {
      width: 100%;
    }

    @media (min-width: 768px) {
      .w-md-40 {
        width: 30%;
      }
    }
  </style>
</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="white">

      <div class="container py-56 py-md-80">




        <!-- 下拉選單 -->
        <div class="mb-8 mb-md-64 d-md-flex justify-content-between align-items-center">

          <div class="d-flex justify-content-between align-items-center" style="color:887258">
            <svg xmlns="http://www.w3.org/2000/svg" class="mb-1 mb-lg-2" width="56" height="56" viewBox="0 0 1024 1024">
              <path fill="currentColor"
                d="M880 112c-3.8 0-7.7.7-11.6 2.3L292 345.9H128c-8.8 0-16 7.4-16 16.6v299c0 9.2 7.2 16.6 16 16.6h101.6c-3.7 11.6-5.6 23.9-5.6 36.4c0 65.9 53.8 119.5 120 119.5c55.4 0 102.1-37.6 115.9-88.4l408.6 164.2c3.9 1.5 7.8 2.3 11.6 2.3c16.9 0 32-14.2 32-33.2V145.2C912 126.2 897 112 880 112zM344 762.3c-26.5 0-48-21.4-48-47.8c0-11.2 3.9-21.9 11-30.4l84.9 34.1c-2 24.6-22.7 44.1-47.9 44.1z" />
            </svg>
            <h1 class="px-5 py-3 fw-medium">最新消息</h1>
          </div>

          <div
            class="select-wrapper d-flex  align-items-center  border border-2 border-primary-700 px-5 py-3 cs-btn rounded-pill w-md-40">
            <select
              class="form-select custom-select text-primary-700 border-0 shadow-none fs-6 fs-lg-4 lh-sm fw-medium "
              aria-label="Default select example" style="border-radius: 100px; appearance: none;">
              <option selected>由新到舊</option>
              <option value="由舊到新">由舊到新</option>
            </select>

            <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20.3334 1L11 10.3333L1.66669 1" stroke="#7C6952" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </div>
        </div>



        <div class="row mb-56 mb-md-64">
          <!-- promotion-card 優惠活動卡片 -->
          <div class="col-md-12 col-lg-6 col-12">
            <div class="ratio ratio-16x9 ">
              <img src="/assets/images/dog in park 1.jpg" alt="優惠活動圖片" class=" img-fluid d-block rounded-3">
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-12 p-md-5 pt-4 pb-2 d-flex flex-column ">
            <div>
              <h2 class="fw-bold lh-sm text-primary-600 mb-5 mb-md-8"><a href="./new.html" class="text-decoration-none">山友​通報，​近期​有​惡意​人士​在​南投山​區​放置捕獸夾</a></h2>
              <p class="fs-5 text-secondary-800">如有發現請聯繫以下單位進行獸夾回收處理!</p>
            </div>
            <div class="mt-auto">
              <p class="fs-6 fs-md-4 text-primary-600"><em>📣 &nbsp; 感謝	"熱心小盧" 資訊提供。</em></p>
            </div>
          </div>
          <!-- promotion-card 優惠活動卡片 -->
        </div>

        <div class="row mb-56 mb-md-64">
          <!-- promotion-card 優惠活動卡片 -->
          <div class="col-md-12 col-lg-6 col-12">
            <div class="ratio ratio-16x9 ">
              <img src="/assets/images/pet with people.jpg" alt="優惠活動圖片" class=" img-fluid d-block rounded-3">
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-12 p-md-5 pt-4 pb-2 d-flex flex-column ">
            <div>
              <h2 class="fw-bold lh-sm text-primary-600 mb-5 mb-md-8"><a href="#" class="text-decoration-none">114年7月
                  My-Shelter平台 撥款明細</a></h2>
              <p class="fs-5"></p>
            </div>
            <div class="mt-auto">
              <p class="fs-6 fs-md-4"><em>&nbsp; </em></p>
            </div>
          </div>
          <!-- promotion-card 優惠活動卡片 -->
        </div>

        <div class="row mb-56 mb-md-64">
          <!-- promotion-card 優惠活動卡片 -->
          <div class="col-md-12 col-lg-6 col-12">
            <div class="ratio ratio-16x9 ">
              <img src="/assets/images/dog and doctor 1.jpg" alt="優惠活動圖片" class=" img-fluid d-block rounded-3">
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-12 p-md-5 pt-4 pb-2 d-flex flex-column ">
            <div>
              <h2 class="fw-bold lh-sm text-primary-600 mb-5 mb-md-8"><a href="#" class="text-decoration-none">MySelter平台與彼得獸醫院，共同贊助100份犬貓幼仔疫苗免費施打</a></h2>
              <p class="fs-5 text-secondary-800">數量有限，請填寫申請書後由專人評估施打時間</p>
            </div>
            <!-- <div class="mt-auto">
              <p class="fs-6 fs-md-4"><em></em></p>
            </div> -->
          </div>
          <!-- promotion-card 優惠活動卡片 -->
        </div>

        <div class="row mb-56 mb-md-64">
          <!-- promotion-card 優惠活動卡片 -->
          <div class="col-md-12 col-lg-6 col-12">
            <div class="ratio ratio-16x9 ">
              <img src="/assets/images/medical students.jpg" alt="優惠活動圖片" class=" img-fluid d-block rounded-3">
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-12 p-md-5 pt-4 pb-2 d-flex flex-column ">
            <div>
              <h2 class="fw-bold lh-sm text-primary-600 mb-5 mb-md-8"><a href="#" class="text-decoration-none">大感謝-屏科大獸醫系學生協助喵了個咪中途之家的貓貓們做健康檢查</a></h2>
              <p class="fs-5 card-title-truncate text-secondary-800">本次與屏科大獸醫系共同合作，協助喵了個咪中途之家提供健康檢查本次與屏科大獸醫系共同合作，協助喵了個咪中途之家提供健康檢查</p>
            </div>
            <!-- <div class="mt-auto">
              <p class="fs-6 fs-md-4"><em>內容2</em></p>
            </div> -->
          </div>
          <!-- promotion-card 優惠活動卡片 -->
        </div>





        <!-- 分頁 -->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item fs-md-5 me-md-4"><a class="page-link text-primary rounded-0" href="#"><i
                  class="bi bi-chevron-left"></i></a>
            </li>

            <li class="page-item fs-md-5 me-md-4 active"><a class="page-link" href="#">1</a></li>

            <li class="page-item fs-md-5 me-md-4"><a class="page-link" href="#">2</a></li>
            <li class="page-item fs-md-5 me-md-4"><a class="page-link" href="#">3</a></li>
            <li class="page-item fs-md-5 me-md-4"><a class="page-link" href="#">...</a></li>
            <li class="page-item fs-md-5 me-md-4"><a class="page-link" href="#">7</a></li>

            <li class="page-item"><a class="page-link text-primary rounded-0" href="#"><i
                  class="bi bi-chevron-right"></i></a>
            </li>
          </ul>
        </nav>




      </div>

    </div>









    <%- include('./layout/footer'); -%>
      <%- include('./layout/scroll-top-button'); -%>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
          crossorigin="anonymous"></script>
        <script type="module" src="../main.js"></script>
</body>

</html>
