<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <!-- bootstrap icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

  <title>任養寶貝列表</title>





</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="bg-gray-100">

      <img src="/assets/images/petlist_banner.png" alt="banner" class="img-fluid mb-8 d-md-none"
        style="max-height: 432px;">

      <div class="container pb-56 pt-md-56 pb-md-80">

          <img src="/assets/images/petlist_banner.png" alt="banner" class=" img-fluid mb-8 mb-md-56 d-none d-md-block"
            style="max-height: 432px;">

        <div class="mb-8 mb-md-56 ">
           <%- include('./layout/pet-list-select'); -%>
        </div>

        <div class="row mb-8 mb-md-56">

          <div class="col-lg-4 col-md-6 col-12 mb-5">
            <a href="./pet-detail-03.html" class="text-decoration-none text-reset">
              <!-- card 2 寶貝pet -->
              <div class="card-pet shadow overflow-auto position-relative">

                <!-- 愛心按鈕 -->
                <button type="button" class="btn p-0 border-0 bg-transparent position-absolute card-heartbtn-position">
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M20.9702 7.6665C23.4937 7.66654 25.6393 9.81907 25.6665 12.5435C25.6915 15.0994 24.8104 17.4861 22.8823 19.8735C21.9844 20.9847 20.312 22.8256 16.356 25.5532L16.354 25.5552C16.2481 25.6285 16.1245 25.6654 15.9995 25.6655C15.8751 25.665 15.7524 25.6273 15.647 25.5542L15.645 25.5532L14.9292 25.0522C11.4817 22.598 9.95944 20.9143 9.11768 19.8726C7.30935 17.6341 6.42342 15.3967 6.34033 13.02L6.33447 12.5425C6.36176 9.81887 8.5064 7.66672 11.0298 7.6665C12.8741 7.6665 14.1864 8.71676 15.0044 9.68311L15.0083 9.68701C15.13 9.82917 15.2814 9.94464 15.4526 10.0239C15.6239 10.1032 15.811 10.144 16.0005 10.144C16.19 10.144 16.377 10.1033 16.5483 10.0239C16.7196 9.94457 16.871 9.82927 16.9927 9.68701L16.9956 9.68213C17.8132 8.71541 19.1257 7.6665 20.9702 7.6665Z"
                      fill="white" stroke="#7C6952" stroke-width="2" />
                  </svg>
                </button>
                <!-- 愛心按鈕 -->

                <div class="ratio ratio-3x2">
                  <img src="/assets/images/card-img/pet/pet_1_奶茶.png" class="card-img-top" alt="寶貝卡片圖片">
                </div>

                <!-- card body -->
                <div class="card-body px-2 py-4 px-md-5 py-md-7 ">
                  <div class="d-flex align-items-center">
                    <h3 class="card-title text-gray-900 mb-md-2 card-title-truncate">奶茶</h3>
                    <span class="fs-6 badge bg-primary px-4 py-1  ms-auto rounded-3 fw-normal">可認養</span>
                  </div>
                  <p class="mb-md-4 mb-2 text-primary">喵了個咪中途之家</p>
                  <p class="card-text mb-md-5 mb-4 card-text-truncate">雖然一開始很怕生，但熟了之後很黏人，個性非常地活潑，對其他的狗狗也很友善。</p>

                  <div class="d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                    <div class="text-truncate">
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1  mb-1  me-1 me-md-2">新北市</span>
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1 mb-1  me-1 me-md-2">已結紮</span>
                    </div>
                    <h4 class="card-price fs-lg-2 text-primary ms-md-auto mt-2 mt-md-0 text-nowrap">＄50/次</h4>
                  </div>
                </div> <!-- card body -->
              </div>
              <!-- card 2 寶貝pet -->
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-5">
            <a href="./pet-detail-03.html" class="text-decoration-none text-reset">
              <!-- card 2 寶貝pet -->
              <div class="card-pet shadow overflow-auto position-relative">

                <!-- 愛心按鈕 -->
                <button type="button" class="btn p-0 border-0 bg-transparent position-absolute card-heartbtn-position">
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M20.9702 7.6665C23.4937 7.66654 25.6393 9.81907 25.6665 12.5435C25.6915 15.0994 24.8104 17.4861 22.8823 19.8735C21.9844 20.9847 20.312 22.8256 16.356 25.5532L16.354 25.5552C16.2481 25.6285 16.1245 25.6654 15.9995 25.6655C15.8751 25.665 15.7524 25.6273 15.647 25.5542L15.645 25.5532L14.9292 25.0522C11.4817 22.598 9.95944 20.9143 9.11768 19.8726C7.30935 17.6341 6.42342 15.3967 6.34033 13.02L6.33447 12.5425C6.36176 9.81887 8.5064 7.66672 11.0298 7.6665C12.8741 7.6665 14.1864 8.71676 15.0044 9.68311L15.0083 9.68701C15.13 9.82917 15.2814 9.94464 15.4526 10.0239C15.6239 10.1032 15.811 10.144 16.0005 10.144C16.19 10.144 16.377 10.1033 16.5483 10.0239C16.7196 9.94457 16.871 9.82927 16.9927 9.68701L16.9956 9.68213C17.8132 8.71541 19.1257 7.6665 20.9702 7.6665Z"
                      fill="white" stroke="#7C6952" stroke-width="2" />
                  </svg>
                </button>
                <!-- 愛心按鈕 -->

                <div class="ratio ratio-3x2"><img src="/assets/images/card-img/pet/pet_2＿小黑.png" class="card-img-top"
                    alt="寶貝卡片圖片"></div>


                <!-- card body -->
                <div class="card-body px-2 py-4 px-md-5 py-md-7 ">
                  <div class="d-flex align-items-center">
                    <h3 class="card-title text-gray-900 mb-md-2 card-title-truncate">小黑</h3>
                    <span class="fs-6 badge bg-primary px-4 py-1  ms-auto rounded-3 fw-normal">可認養</span>
                  </div>
                  <p class="mb-md-4 mb-2 text-primary">流浪幫幫忙協會</p>
                  <p class="card-text mb-md-5 mb-4 card-text-truncate">前主人棄養，會基本簡單的指令，非常乖巧懂事和聽話。</p>

                  <div class="d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                    <div class="text-truncate">
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1  mb-1  me-1 me-md-2">新北市</span>
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1 mb-1  me-1 me-md-2">已結紮</span>
                    </div>
                    <h4 class="card-price fs-lg-2 text-primary ms-md-auto mt-2 mt-md-0 text-nowrap">＄40/次</h4>
                  </div>
                </div> <!-- card body -->
              </div>
              <!-- card 2 寶貝pet -->
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-5">
            <a href="./pet-detail-03.html" class="text-decoration-none text-reset">
              <!-- card 2 寶貝pet -->
              <div class="card-pet shadow overflow-auto position-relative">

                <!-- 愛心按鈕 -->
                <button type="button" class="btn p-0 border-0 bg-transparent position-absolute card-heartbtn-position">
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M20.9702 7.6665C23.4937 7.66654 25.6393 9.81907 25.6665 12.5435C25.6915 15.0994 24.8104 17.4861 22.8823 19.8735C21.9844 20.9847 20.312 22.8256 16.356 25.5532L16.354 25.5552C16.2481 25.6285 16.1245 25.6654 15.9995 25.6655C15.8751 25.665 15.7524 25.6273 15.647 25.5542L15.645 25.5532L14.9292 25.0522C11.4817 22.598 9.95944 20.9143 9.11768 19.8726C7.30935 17.6341 6.42342 15.3967 6.34033 13.02L6.33447 12.5425C6.36176 9.81887 8.5064 7.66672 11.0298 7.6665C12.8741 7.6665 14.1864 8.71676 15.0044 9.68311L15.0083 9.68701C15.13 9.82917 15.2814 9.94464 15.4526 10.0239C15.6239 10.1032 15.811 10.144 16.0005 10.144C16.19 10.144 16.377 10.1033 16.5483 10.0239C16.7196 9.94457 16.871 9.82927 16.9927 9.68701L16.9956 9.68213C17.8132 8.71541 19.1257 7.6665 20.9702 7.6665Z"
                      fill="white" stroke="#7C6952" stroke-width="2" />
                  </svg>
                </button>
                <!-- 愛心按鈕 -->

                <div class="ratio ratio-3x2">
                  <img src="/assets/images/card-img/pet/pet_3_阿財.png" class="card-img-top" alt="寶貝卡片圖片">
                </div>


                <!-- card body -->
                <div class="card-body px-2 py-4 px-md-5 py-md-7 ">
                  <div class="d-flex align-items-center">
                    <h3 class="card-title text-gray-900 mb-md-2 card-title-truncate">蹲蹲</h3>
                    <span class="fs-6 badge bg-primary px-4 py-1  ms-auto rounded-3 fw-normal">可認養</span>
                  </div>
                  <p class="mb-md-4 mb-2 text-primary">毛寶寶基金會</p>
                  <p class="card-text mb-md-5 mb-4 card-text-truncate">蹲蹲因意外走失，在小巷中被發現時瘦骨如柴，幾乎撐不下去,經獸醫診断是長期性嚴重營養不良的狀況希望</p>

                  <div class="d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                    <div class="text-truncate">
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1  mb-1  me-1 me-md-2">嘉義縣</span>
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1 mb-1  me-1 me-md-2">已結紮</span>
                      <span
                        class="badge rounded-3 fw-normal  fs-8 fs-md-6 text-bg-primary-400 text-secondary px-2 py-1 mb-1  me-1 me-md-2">醫療協助</span>
                    </div>
                    <h4 class="card-price fs-lg-2 text-primary ms-md-auto mt-2 mt-md-0 text-nowrap">＄35/次</h4>
                  </div>
                </div> <!-- card body -->
              </div>
              <!-- card 2 寶貝pet -->
            </a>
          </div>


          <div class="col-lg-4 col-md-6 col-12 mb-5">
            <a href="./pet-detail-03.html" class="text-decoration-none text-reset">
              <!-- card 2 寶貝pet -->
              <div class="card-pet shadow overflow-auto position-relative">

                <!-- 愛心按鈕 -->
                <button type="button" class="btn p-0 border-0 bg-transparent position-absolute card-heartbtn-position">
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M20.9702 7.6665C23.4937 7.66654 25.6393 9.81907 25.6665 12.5435C25.6915 15.0994 24.8104 17.4861 22.8823 19.8735C21.9844 20.9847 20.312 22.8256 16.356 25.5532L16.354 25.5552C16.2481 25.6285 16.1245 25.6654 15.9995 25.6655C15.8751 25.665 15.7524 25.6273 15.647 25.5542L15.645 25.5532L14.9292 25.0522C11.4817 22.598 9.95944 20.9143 9.11768 19.8726C7.30935 17.6341 6.42342 15.3967 6.34033 13.02L6.33447 12.5425C6.36176 9.81887 8.5064 7.66672 11.0298 7.6665C12.8741 7.6665 14.1864 8.71676 15.0044 9.68311L15.0083 9.68701C15.13 9.82917 15.2814 9.94464 15.4526 10.0239C15.6239 10.1032 15.811 10.144 16.0005 10.144C16.19 10.144 16.377 10.1033 16.5483 10.0239C16.7196 9.94457 16.871 9.82927 16.9927 9.68701L16.9956 9.68213C17.8132 8.71541 19.1257 7.6665 20.9702 7.6665Z"
                      fill="white" stroke="#7C6952" stroke-width="2" />
                  </svg>
                </button>
                <!-- 愛心按鈕 -->
                <div class="ratio ratio-3x2">
                  <img src="/assets/images/card-img/pet/pet_4_阿橘橘.jpg" class="card-img-top" alt="寶貝卡片圖片">
                </div>


                <!-- card body -->
                <div class="card-body px-2 py-4 px-md-5 py-md-7 ">
                  <div class="d-flex align-items-center">
                    <h3 class="card-title text-gray-900 mb-md-2 card-title-truncate">阿橘橘</h3>
                    <span class="fs-6 badge bg-primary px-4 py-1  ms-auto rounded-3 fw-normal">可認養</span>
                  </div>
                  <p class="mb-md-4 mb-2 text-primary">喵了個咪中途之家</p>
                  <p class="card-text mb-md-5 mb-4 card-text-truncate">阿橘橘在意外中失去了一條腿，卻從不氣餒，還總是精神滿滿地奔跑玩耍，彷彿在說：三條腿也可以</p>

                  <div class="d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                    <div class="text-truncate">
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1  mb-1  me-1 me-md-2">新北市</span>
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1 mb-1  me-1 me-md-2">已結紮</span>
                    </div>
                    <h4 class="card-price fs-lg-2 text-primary ms-md-auto mt-2 mt-md-0 text-nowrap">＄35/次</h4>
                  </div>
                </div> <!-- card body -->
              </div>
              <!-- card 2 寶貝pet -->
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-5">
            <a href="./pet-detail-03.html" class="text-decoration-none text-reset">
              <!-- card 2 寶貝pet -->
              <div class="card-pet shadow overflow-auto position-relative">

                <!-- 愛心按鈕 -->
                <button type="button" class="btn p-0 border-0 bg-transparent position-absolute card-heartbtn-position">
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M20.9702 7.6665C23.4937 7.66654 25.6393 9.81907 25.6665 12.5435C25.6915 15.0994 24.8104 17.4861 22.8823 19.8735C21.9844 20.9847 20.312 22.8256 16.356 25.5532L16.354 25.5552C16.2481 25.6285 16.1245 25.6654 15.9995 25.6655C15.8751 25.665 15.7524 25.6273 15.647 25.5542L15.645 25.5532L14.9292 25.0522C11.4817 22.598 9.95944 20.9143 9.11768 19.8726C7.30935 17.6341 6.42342 15.3967 6.34033 13.02L6.33447 12.5425C6.36176 9.81887 8.5064 7.66672 11.0298 7.6665C12.8741 7.6665 14.1864 8.71676 15.0044 9.68311L15.0083 9.68701C15.13 9.82917 15.2814 9.94464 15.4526 10.0239C15.6239 10.1032 15.811 10.144 16.0005 10.144C16.19 10.144 16.377 10.1033 16.5483 10.0239C16.7196 9.94457 16.871 9.82927 16.9927 9.68701L16.9956 9.68213C17.8132 8.71541 19.1257 7.6665 20.9702 7.6665Z"
                      fill="white" stroke="#7C6952" stroke-width="2" />
                  </svg>
                </button>
                <!-- 愛心按鈕 -->
                <div class="ratio ratio-3x2">
                  <img src="/assets/images/card-img/pet/pet_5_Money.jpg" class="card-img-top" alt="寶貝卡片圖片">
                </div>

                <!-- card body -->
                <div class="card-body px-2 py-4 px-md-5 py-md-7 ">
                  <div class="d-flex align-items-center">
                    <h3 class="card-title text-gray-900 mb-md-2 card-title-truncate">Money</h3>
                    <span class="fs-6 badge bg-primary px-4 py-1  ms-auto rounded-3 fw-normal">可認養</span>
                  </div>
                  <p class="mb-md-4 mb-2 text-primary">毛寶寶基金會</p>
                  <p class="card-text mb-md-5 mb-4 card-text-truncate">曾在其他狗場長期遭霸凌,甚至連上廁所都等到沒人時才敢行動。因後腿無力,過去因長時間泡在...
                  </p>

                  <div class="d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                    <div class="text-truncate">
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1  mb-1  me-1 me-md-2">嘉義縣</span>
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1 mb-1  me-1 me-md-2">已結紮</span>
                      <span
                        class="badge rounded-3 fw-normal  fs-8 fs-md-6 text-bg-primary-400 text-secondary px-2 py-1 mb-1  me-1 me-md-2">醫療協助</span>
                    </div>
                    <h4 class="card-price fs-lg-2 text-primary ms-md-auto mt-2 mt-md-0 text-nowrap">＄40/次</h4>
                  </div>
                </div> <!-- card body -->
              </div>
              <!-- card 2 寶貝pet -->
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-5">
            <a href="./pet-detail-03.html" class="text-decoration-none text-reset">
              <!-- card 2 寶貝pet -->
              <div class="card-pet shadow overflow-auto position-relative">

                <!-- 愛心按鈕 -->
                <button type="button" class="btn p-0 border-0 bg-transparent position-absolute card-heartbtn-position">
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M20.9702 7.6665C23.4937 7.66654 25.6393 9.81907 25.6665 12.5435C25.6915 15.0994 24.8104 17.4861 22.8823 19.8735C21.9844 20.9847 20.312 22.8256 16.356 25.5532L16.354 25.5552C16.2481 25.6285 16.1245 25.6654 15.9995 25.6655C15.8751 25.665 15.7524 25.6273 15.647 25.5542L15.645 25.5532L14.9292 25.0522C11.4817 22.598 9.95944 20.9143 9.11768 19.8726C7.30935 17.6341 6.42342 15.3967 6.34033 13.02L6.33447 12.5425C6.36176 9.81887 8.5064 7.66672 11.0298 7.6665C12.8741 7.6665 14.1864 8.71676 15.0044 9.68311L15.0083 9.68701C15.13 9.82917 15.2814 9.94464 15.4526 10.0239C15.6239 10.1032 15.811 10.144 16.0005 10.144C16.19 10.144 16.377 10.1033 16.5483 10.0239C16.7196 9.94457 16.871 9.82927 16.9927 9.68701L16.9956 9.68213C17.8132 8.71541 19.1257 7.6665 20.9702 7.6665Z"
                      fill="white" stroke="#7C6952" stroke-width="2" />
                  </svg>
                </button>
                <!-- 愛心按鈕 -->
                <div class="ratio ratio-3x2">
                  <img src="/assets/images/card-img/pet/pet_6_蹲蹲.jpg" class="card-img-top" alt="寶貝卡片圖片">
                </div>


                <!-- card body -->
                <div class="card-body px-2 py-4 px-md-5 py-md-7 ">
                  <div class="d-flex align-items-center">
                    <h3 class="card-title text-gray-900 mb-md-2 card-title-truncate">阿財</h3>
                    <span class="fs-6 badge bg-primary px-4 py-1  ms-auto rounded-3 fw-normal">可認養</span>
                  </div>
                  <p class="mb-md-4 mb-2 text-primary">毛茸茸中途咖啡</p>
                  <p class="card-text mb-md-5 mb-4 card-text-truncate">超級活潑外向，喜歡到處聞聞，標準的社交大師，很聽人的話也對其他狗狗很友善。
                  </p>

                  <div class="d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                    <div class="text-truncate">
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1  mb-1  me-1 me-md-2">新北市</span>
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1 mb-1  me-1 me-md-2">已結紮</span>
                    </div>
                    <h4 class="card-price fs-lg-2 text-primary ms-md-auto mt-2 mt-md-0 text-nowrap">＄85/次</h4>
                  </div>
                </div> <!-- card body -->
              </div>
              <!-- card 2 寶貝pet -->
            </a>
          </div>


          <div class="col-lg-4 col-md-6 col-12 mb-5">
            <a href="./pet-detail-03.html" class="text-decoration-none text-reset">
              <!-- card 2 寶貝pet -->
              <div class="card-pet shadow overflow-auto position-relative">

                <!-- 愛心按鈕 -->
                <button type="button" class="btn p-0 border-0 bg-transparent position-absolute card-heartbtn-position">
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M20.9702 7.6665C23.4937 7.66654 25.6393 9.81907 25.6665 12.5435C25.6915 15.0994 24.8104 17.4861 22.8823 19.8735C21.9844 20.9847 20.312 22.8256 16.356 25.5532L16.354 25.5552C16.2481 25.6285 16.1245 25.6654 15.9995 25.6655C15.8751 25.665 15.7524 25.6273 15.647 25.5542L15.645 25.5532L14.9292 25.0522C11.4817 22.598 9.95944 20.9143 9.11768 19.8726C7.30935 17.6341 6.42342 15.3967 6.34033 13.02L6.33447 12.5425C6.36176 9.81887 8.5064 7.66672 11.0298 7.6665C12.8741 7.6665 14.1864 8.71676 15.0044 9.68311L15.0083 9.68701C15.13 9.82917 15.2814 9.94464 15.4526 10.0239C15.6239 10.1032 15.811 10.144 16.0005 10.144C16.19 10.144 16.377 10.1033 16.5483 10.0239C16.7196 9.94457 16.871 9.82927 16.9927 9.68701L16.9956 9.68213C17.8132 8.71541 19.1257 7.6665 20.9702 7.6665Z"
                      fill="white" stroke="#7C6952" stroke-width="2" />
                  </svg>
                </button>
                <!-- 愛心按鈕 -->
                <div class="ratio ratio-3x2">
                  <img src="/assets/images/card-img/pet/pet_7_啾啾.png" class="card-img-top" alt="寶貝卡片圖片">
                </div>


                <!-- card body -->
                <div class="card-body px-2 py-4 px-md-5 py-md-7 ">
                  <div class="d-flex align-items-center">
                    <h3 class="card-title text-gray-900 mb-md-2 card-title-truncate">啾啾</h3>
                    <span class="fs-6 badge bg-primary px-4 py-1  ms-auto rounded-3 fw-normal">可認養</span>
                  </div>
                  <p class="mb-md-4 mb-2 text-primary">毛茸茸中途小窩</p>
                  <p class="card-text mb-md-5 mb-4 card-text-truncate">性格溫馴安靜，最喜歡窩在人身邊打盹。曾被棄養在公園，希望有人願意給他一個永遠的家</p>

                  <div class="d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                    <div class="text-truncate">
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1  mb-1  me-1 me-md-2">新北市</span>
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1 mb-1  me-1 me-md-2">已結紮</span>
                    </div>
                    <h4 class="card-price fs-lg-2 text-primary ms-md-auto mt-2 mt-md-0 text-nowrap">＄70/次</h4>
                  </div>
                </div> <!-- card body -->
              </div>
              <!-- card 2 寶貝pet -->
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-5">
            <a href="./pet-detail-03.html" class="text-decoration-none text-reset">
              <!-- card 2 寶貝pet -->
              <div class="card-pet shadow overflow-auto position-relative">

                <!-- 愛心按鈕 -->
                <button type="button" class="btn p-0 border-0 bg-transparent position-absolute card-heartbtn-position">
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M20.9702 7.6665C23.4937 7.66654 25.6393 9.81907 25.6665 12.5435C25.6915 15.0994 24.8104 17.4861 22.8823 19.8735C21.9844 20.9847 20.312 22.8256 16.356 25.5532L16.354 25.5552C16.2481 25.6285 16.1245 25.6654 15.9995 25.6655C15.8751 25.665 15.7524 25.6273 15.647 25.5542L15.645 25.5532L14.9292 25.0522C11.4817 22.598 9.95944 20.9143 9.11768 19.8726C7.30935 17.6341 6.42342 15.3967 6.34033 13.02L6.33447 12.5425C6.36176 9.81887 8.5064 7.66672 11.0298 7.6665C12.8741 7.6665 14.1864 8.71676 15.0044 9.68311L15.0083 9.68701C15.13 9.82917 15.2814 9.94464 15.4526 10.0239C15.6239 10.1032 15.811 10.144 16.0005 10.144C16.19 10.144 16.377 10.1033 16.5483 10.0239C16.7196 9.94457 16.871 9.82927 16.9927 9.68701L16.9956 9.68213C17.8132 8.71541 19.1257 7.6665 20.9702 7.6665Z"
                      fill="white" stroke="#7C6952" stroke-width="2" />
                  </svg>
                </button>
                <!-- 愛心按鈕 -->
                <div class="ratio ratio-3x2">
                  <img src="/assets/images/card-img/pet/pet_8_火腿起司.png" class="card-img-top" alt="寶貝卡片圖片">
                </div>


                <!-- card body -->
                <div class="card-body px-2 py-4 px-md-5 py-md-7 ">
                  <div class="d-flex align-items-center">
                    <h3 class="card-title text-gray-900 mb-md-2 card-title-truncate">火腿起司</h3>
                    <span class="fs-6 badge bg-primary px-4 py-1  ms-auto rounded-3 fw-normal">可認養</span>
                  </div>
                  <p class="mb-md-4 mb-2 text-primary">早安!狗狗之城</p>
                  <p class="card-text mb-md-5 mb-4 card-text-truncate">非常乖巧可愛的柯基，目前已完成疫苗接種和驅蟲，期待新主人帶她回溫暖的家。</p>

                  <div class="d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                    <div class="text-truncate">
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1  mb-1  me-1 me-md-2">新北市</span>
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1 mb-1  me-1 me-md-2">已結紮</span>

                    </div>
                    <h4 class="card-price fs-lg-2 text-primary ms-md-auto mt-2 mt-md-0 text-nowrap">＄80/次</h4>
                  </div>
                </div> <!-- card body -->
              </div>
              <!-- card 2 寶貝pet -->
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-5">
            <a href="./pet-detail-03.html" class="text-decoration-none text-reset">
              <!-- card 2 寶貝pet -->
              <div class="card-pet shadow overflow-auto position-relative">

                <!-- 愛心按鈕 -->
                <button type="button" class="btn p-0 border-0 bg-transparent position-absolute card-heartbtn-position">
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M20.9702 7.6665C23.4937 7.66654 25.6393 9.81907 25.6665 12.5435C25.6915 15.0994 24.8104 17.4861 22.8823 19.8735C21.9844 20.9847 20.312 22.8256 16.356 25.5532L16.354 25.5552C16.2481 25.6285 16.1245 25.6654 15.9995 25.6655C15.8751 25.665 15.7524 25.6273 15.647 25.5542L15.645 25.5532L14.9292 25.0522C11.4817 22.598 9.95944 20.9143 9.11768 19.8726C7.30935 17.6341 6.42342 15.3967 6.34033 13.02L6.33447 12.5425C6.36176 9.81887 8.5064 7.66672 11.0298 7.6665C12.8741 7.6665 14.1864 8.71676 15.0044 9.68311L15.0083 9.68701C15.13 9.82917 15.2814 9.94464 15.4526 10.0239C15.6239 10.1032 15.811 10.144 16.0005 10.144C16.19 10.144 16.377 10.1033 16.5483 10.0239C16.7196 9.94457 16.871 9.82927 16.9927 9.68701L16.9956 9.68213C17.8132 8.71541 19.1257 7.6665 20.9702 7.6665Z"
                      fill="white" stroke="#7C6952" stroke-width="2" />
                  </svg>
                </button>
                <!-- 愛心按鈕 -->
                <div class="ratio ratio-3x2">
                  <img src="/assets/images/card-img/pet/pet_9_花生醬.png" class="card-img-top" alt="寶貝卡片圖片">
                </div>

                <!-- card body -->
                <div class="card-body px-2 py-4 px-md-5 py-md-7 ">
                  <div class="d-flex align-items-center">
                    <h3 class="card-title text-gray-900 mb-md-2 card-title-truncate">花生醬</h3>
                    <span class="fs-6 badge bg-primary px-4 py-1  ms-auto rounded-3 fw-normal">可認養</span>
                  </div>
                  <p class="mb-md-4 mb-2 text-primary">早安!貓貓之城</p>
                  <p class="card-text mb-md-5 mb-4 card-text-truncate">在一個颱風天的午後於天橋下被發現，剛開始非常地怕生，目前已喜歡和人親近。</p>

                  <div class="d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                    <div class="text-truncate">
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1  mb-1  me-1 me-md-2">嘉義縣</span>
                      <span
                        class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1 mb-1  me-1 me-md-2">已結紮</span>
                      <span
                        class="badge rounded-3 fw-normal  fs-8 fs-md-6 text-bg-primary-400 text-secondary px-2 py-1 mb-1  me-1 me-md-2">醫療協助</span>
                    </div>
                    <h4 class="card-price fs-lg-2 text-primary ms-md-auto mt-2 mt-md-0 text-nowrap">＄50/次</h4>
                  </div>
                </div> <!-- card body -->
              </div>
              <!-- card 2 寶貝pet -->
            </a>
          </div>


        </div>




        <!-- 分頁 -->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item fs-md-5 me-md-4"><a class="page-link text-primary rounded-0" href="#"><i
                  class="bi bi-chevron-left"></i></a>
            </li>
            <li class="page-item fs-md-5 me-md-4 active"><a class="page-link page-num" href="#">1</a></li>
            <li class="page-item fs-md-5 me-md-4"><a class="page-link page-num" href="#">2</a></li>
            <li class="page-item fs-md-5 me-md-4"><a class="page-link page-num" href="#">3</a></li>
            <li class="page-item fs-md-5 me-md-4"><a class="page-link" href="#">...</a></li>
            <li class="page-item fs-md-5 me-md-4"><a class="page-link" href="#">7</a></li>
            <li class="page-item"><a class="page-link text-primary rounded-0" href="#"><i class="bi bi-chevron-right"></i></a>
            </li>
          </ul>
        </nav>

      </div><!--container-->


    </div>






    <%- include('./layout/footer'); -%>
      <%- include('./layout/scroll-top-button'); -%>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
          crossorigin="anonymous"></script>
        <script type="module" src="../main.js"></script>





</body>

</html>
