<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <!-- bootstrap icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

  <title>寶貝領養申請書</title>
</head>



<body class="body-xuu px-4 px-lg-0">
  <%- include('./layout/header'); -%>
  <div class="bg-secondary-100">

    <!--TITLE-->
    <nav class="container pt-7">
    <h2 class="block-line mb-0">寶貝領養申請書</h2>
    </nav>



  <!--寶貝資訊-->
  <main class="container pt-56">
    <section class="row gx-7">

      <!--寶貝照片-->
      <aside class="col-12 col-lg-6">

        <!-- 主 Swiper -->
        <div class="swiper thumbs-main-slides">
          <div class="swiper-wrapper swiper-intro-main">

            <div class="swiper-slide">
              <img src="/assets/images/card-img/pet/pet_3_阿財.png">
            </div>

            <div class="swiper-slide">
              <img src="/assets/images/card-img/pet/pet_detial_3 (1).jpg">
            </div>

            <div class="swiper-slide">
              <img src="/assets/images/card-img/pet/pet_detial_3 (2).jpg">
            </div>

            <div class="swiper-slide">
              <img src="/assets/images/card-img/pet/pet_detial_3 (3).jpg">
            </div>
          
            <div class="swiper-slide">
              <img src="/assets/images/card-img/pet/pet_detial_3 (4).jpg">
            </div>

            <div class="swiper-slide">
              <img src="/assets/images/card-img/pet/pet_detial_3 (5).jpg">
            </div>



          </div>
        </div>


        <!-- 縮圖 Swiper -->
        <div class="swiper thumbs-slides ">
          <div class="swiper-wrapper swiper-intro-thumb">

            <div class="swiper-slide">
              <img src="/assets/images/card-img/pet/pet_3_阿財.png">
            </div>

            <div class="swiper-slide">
              <img src="/assets/images/card-img/pet/pet_detial_3 (1).jpg">
            </div>

            <div class="swiper-slide">
              <img src="/assets/images/card-img/pet/pet_detial_3 (2).jpg">
            </div>

            <div class="swiper-slide">
              <img src="/assets/images/card-img/pet/pet_detial_3 (3).jpg">
            </div>
          
            <div class="swiper-slide">
              <img src="/assets/images/card-img/pet/pet_detial_3 (4).jpg">
            </div>

            <div class="swiper-slide">
              <img src="/assets/images/card-img/pet/pet_detial_3 (5).jpg">
            </div>


          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>

          </div>


        </div>



      </aside>
      <!--寶貝照片-->





      <!--寶貝詳情-->
      <article class="col-12 col-lg-6">

        <!--寶貝介紹內容-->
        <section class="pb-7">

          <!--寶貝資料-->
          <div class="container px-0">
            <div class="row apply-text d-flex flex-column gap-2">


              <!--名字+標籤-->
              <div class="d-flex align-items-center">
                <h3 class="col-auto px-0 mb-0">我要領養：</h3>
                <h3 class="col px-0 mb-0">蹲蹲</h3>

                <span class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1  mb-1  me-1 me-md-2">新北市</span>

                <span class="badge rounded-3 text-bg-primary-400 text-secondary fw-normal fs-8 fs-md-6 px-2 py-1  mb-1  me-1 me-md-2">已結紮</span>
              </div>

              <!--性別+機構-->
              <div class="d-flex">
                <h5 class="col-auto px-0 mb-0">
                  米克斯 / 男 / 3歲
                </h5>
                <h5 class="col-auto ps-4 mb-0">毛寶寶基金會</h5>          
              </div>


            </div>
          </div> 


          <!--文案-->
          <div class="pb-0 apply-text">
            <p>
              經過一段時間的治療與照顧，蹲蹲的身體已經逐漸恢復健康。
              <br><br>
              雖然牠還需要後續的營養補充與細心照料，但蹲蹲已經能開心地散步、對人露出甜甜的笑容。
              <br><br>
              牠的性格溫和、安靜卻不失黏人，特別喜歡輕輕依偎在你身邊，偶爾會用鼻尖輕碰你的手撒嬌。
              <br><br>
              蹲蹲喜歡用前腳輕輕扒你的褲腳要抱抱、聽到零食袋聲音會立刻豎起耳朵、睡覺時總愛把尾巴捲在鼻子旁取暖。對熟悉的人，牠會毫不保留地展現信任與依戀。
              <br><br>
              現在蹲蹲正迫不及待地期待一個屬於自己的新家，盼望有個人能陪牠走完接下來的日子，讓幸福不再只是短暫的夢。
            </p>
          </div>

        </section>
        <!--寶貝介紹內容-->

      </article>
      <!--寶貝詳情-->


    </section>
  </main>
  <!--寶貝資訊-->


  <span class="container block-line"></span>



  <%- include('./layout/apply'); -%>
  




  

    <!--送出申請單按鈕-->
    <div class="container pt-56 pb-80">
      <div class="row">

        <div class="col d-flex justify-content-center">
          <button type="button" class="btn btn-primary-400 text-primary-700 border-2 px- btn-detail-radius">
          送出申請單
          </button>
        </div>

      </div>
    </div>

  </div>
    <%- include('./layout/scroll-top-button'); -%>
    <%- include('./layout/footer'); -%>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous">
    </script>
    <script type="module" src="/main.js"></script>

    <script>
      const dropdownItems = document.querySelectorAll('.dropdown-item');
      const selectedTitle = document.querySelector('.selected-title');
      const selectedDesc = document.querySelector('.selected-desc');

      dropdownItems.forEach(item => {

        item.addEventListener('click', () => {
        selectedTitle.textContent = item.querySelector('.option-title').textContent;
        selectedDesc.textContent = item.querySelector('.option-desc').textContent;
  });
});

    </script>
        
</body>

</html>
