<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>優惠活動</title>
    <style>
      .step-btn{
          background-color: #FFFFFF !important;
          color: #7C6952 !important; 
          border: 2px solid #7C6952;
          border-radius:16px;
       }
       .step-btn:hover{
          background-color: #FFFCF5 !important;
          transition: background-color 0.3s;
       }
    </style>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="bg-secondary-100 pb-56">

      <div class="container">
      <div  class="pb-6">
        <img src="/assets/images/meet dogs 1.jpg" alt="banner-狗狗見面會" class="w-100"  style="max-width: 1296px; max-height:432px ; border-radius: 8px; object-fit: cover; overflow: hidden;">
      </div>
      
      <div class="row py-md-9 py-4">
        <div class="col-md-4">
          <img src="/assets/images/dogs.jpg" alt="狗狗見面會" class="w-100" style="border-radius: 8px;">
        </div>
        <div class="col-1"></div>
        <div class="col-md-7  d-flex flex-column justify-content-between ">
          <div class="fw-bold fs-1 lh-sm  text-primary-700  pt-6 pt-md-0 ">滿額參加｜狗狗見面會開放報名</div>
          <div class="py-6">
            <div class="fw-medium text-secondary-800 lh-sbase fs-4 ">
              即日起，單筆訂單金額滿NT$520即可免費報名參加雲端狗狗見面會！
              <br>活動當天將與其他領養者一同互動交流，還有可愛驚喜等你來體驗。名額有限，立即報名參加！
              <br>我們知道，對牠的愛與關心不會因為一次的捐助或認養就結束

              <br>因此，我們舉辦了「浪浪視界」線上見面日，讓每一位長期幫助浪浪的朋友，都能他過即時的視訊，看到牠們的近況、生活環境，甚至聽到他們的「汪汪問候」。
            <br><br>活動時間: 2024-09-23 14:00-16:00
            <br>報名條件: 需為2024年6月以後成立的訂單，
            <br>*單筆訂單須滿NT$520*
          </div>
          
          <div class="fw-bold text-end fs-3 lh-sm text-primary-600">📣 本次活動由毛寶寶基金會主辦。</div>
          
          <div class="py-9 text-center">
            <a href="#" class="text-decoration-none px-5 py-3  fw-medium fs-3 step-btn">我要參加</a>
          </div>
          
          
        </div>
      </div>
    </div>
    </div>
    
    <%- include('./layout/footer'); -%>
    

    <script type="module" src="../main.js"></script>
  </body>
</html>
