<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <!-- bootstrap icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <title>優惠活動</title>
  <style>
    .w-md-40 {
      width: 100%;
    }

    @media (min-width: 768px) {
      .w-md-40 {
        width: 30%;
      }
    }
  </style>
</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="white">

      <div class="container py-56 py-md-80">




        <!-- 下拉選單 -->
        <div class="mb-8 mb-md-64 d-md-flex justify-content-between align-items-center">

          <div class="d-flex justify-content-between align-items-center" style="color:#887258">

            <svg xmlns="http://www.w3.org/2000/svg" class="mb-1 mb-lg-2 " width="56" height="56" viewBox="0 0 24 24"
              fill="currentColor">
              <path fill="currentColor" fill-rule="evenodd"
                d="M9.765 2.998a3 3 0 0 1 4.47 0l.7.782a1 1 0 0 0 .801.332l1.05-.058a3 3 0 0 1 3.16 3.16l-.058 1.05a1 1 0 0 0 .332.8l.783.7a3 3 0 0 1 0 4.471l-.783.7a1 1 0 0 0-.332.801l.058 1.05a3 3 0 0 1-3.16 3.16l-1.05-.058a1 1 0 0 0-.8.332l-.7.783a3 3 0 0 1-4.471 0l-.7-.783a1 1 0 0 0-.801-.332l-1.05.058a3 3 0 0 1-3.16-3.16l.058-1.05a1 1 0 0 0-.332-.8l-.782-.7a3 3 0 0 1 0-4.471l.782-.7a1 1 0 0 0 .332-.801l-.058-1.05a3 3 0 0 1 3.16-3.16l1.05.058a1 1 0 0 0 .8-.332l.7-.782Zm5.942 5.295a1 1 0 0 1 0 1.414l-6 6a1 1 0 0 1-1.414-1.414l6-6a1 1 0 0 1 1.414 0ZM9.5 8A1.5 1.5 0 0 0 8 9.5v.01a1.5 1.5 0 0 0 1.5 1.5h.01a1.5 1.5 0 0 0 1.5-1.5V9.5A1.5 1.5 0 0 0 9.51 8H9.5Zm5 5a1.5 1.5 0 0 0-1.5 1.5v.01a1.5 1.5 0 0 0 1.5 1.5h.01a1.5 1.5 0 0 0 1.5-1.5v-.01a1.5 1.5 0 0 0-1.5-1.5h-.01Z"
                clip-rule="evenodd" />
            </svg>
            <h1 class="px-5 py-3 fw-medium">優惠活動</h1>
          </div>




          <div
            class="select-wrapper d-flex  align-items-center  border border-2 border-primary-700 px-5 py-3 cs-btn rounded-pill w-md-40">
            <select
              class="form-select custom-select text-primary-700 border-0 shadow-none fs-6 fs-lg-4 lh-sm fw-medium "
              aria-label="Default select example" style="border-radius: 100px; appearance: none;">
              <option selected>由新到舊</option>
              <option value="由舊到新">由舊到新</option>
            </select>

            <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20.3334 1L11 10.3333L1.66669 1" stroke="#7C6952" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </div>
        </div>



        <div class="row mb-56 mb-md-64">
          <!-- promotion-card 優惠活動卡片 -->
          <div class="col-md-12 col-lg-6 col-12">
            <div class="ratio ratio-16x9 ">
              <img src="/assets/images/meet dogs 1.jpg" alt="優惠活動圖片" class=" img-fluid d-block rounded-3">
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-12 p-md-5 pt-4 pb-2 d-flex flex-column ">
            <div>
              <h2 class="text-primary mb-5">🐶 滿額參加│狗狗見面會開放報名</h2>
              <p class="fs-5 text-secondary-800">即日起，單筆訂單滿NT$520，即可免費報名參加雲端狗狗見面會!<br>活動當天將與其他領養者一同互動交流，還有可愛驚喜等你來體驗。<br>名額有限，立刻報名參加吧!</p>
            </div>
            <div class="d-grid mt-auto">
              <a href="./promotions.html"
                class="btn btn-primary rounded-3 fs-4 py-2 px-4 d-flex align-items-center justify-content-between"
                type="button">
                <div>
                  <svg width="20" height="21" viewBox="0 0 20 21" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                    class="me-4">
                    <path
                      d="M19.5999 2.0999C19.5999 1.68401 19.3846 1.29777 19.0308 1.07912C18.677 0.860475 18.2352 0.840598 17.8632 1.02659L8.51662 5.6999H3.9999C2.01168 5.6999 0.399902 7.31168 0.399902 9.2999C0.399902 11.2881 2.01168 12.8999 3.9999 12.8999H4.335L6.46149 19.2794C6.62483 19.7694 7.0834 20.0999 7.59991 20.0999H8.79991C9.46265 20.0999 9.99991 19.5626 9.99991 18.8999V13.6416L17.8632 17.5732C18.2352 17.7592 18.677 17.7393 19.0308 17.5207C19.3846 17.302 19.5999 16.9158 19.5999 16.4999V2.0999Z"
                      fill="#F4F0EC" />
                  </svg>

                  <span class="fs-7 fs-md-6">本次活動由毛寶寶基金會主辦</span>
                </div>
                <svg width="9" height="17" viewBox="0 0 9 17" fill="none" xmlns="http://www.w3.org/2000/svg"
                  class="ms-auto">
                  <path d="M0.999999 1.5L8 8.5L1 15.5" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </a>
            </div>
          </div>
          <!-- promotion-card 優惠活動卡片 -->
        </div>

        <div class="row mb-56 mb-md-64">
          <!-- promotion-card 優惠活動卡片 -->
          <div class="col-md-12 col-lg-6 col-12">
            <div class="ratio ratio-16x9">
              <img src="/assets/images/tuxedo.jpg" alt="優惠活動圖片" class="img-fluid d-block rounded-3">
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-12 p-md-5 pt-4 pb-2 d-flex flex-column">
            <div>
              <h2 class="text-primary mb-5">🎊 首次認養優惠</h2>
              <p class="fs-5 text-secondary-800">首次於喵了個咪中途之家下單，該筆訂單享有8折優惠，不限金額。
                <br>輸入<b>【 meow520 】</b>即可享有優惠。
              </p>
            </div>
            <div class="d-grid mt-auto">
              <button class="btn btn-primary rounded-3 fs-4 py-2 px-4 d-flex align-items-center justify-content-between"
                type="button">
                <div>
                  <svg width="20" height="21" viewBox="0 0 20 21" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                    class="me-4">
                    <path
                      d="M19.5999 2.0999C19.5999 1.68401 19.3846 1.29777 19.0308 1.07912C18.677 0.860475 18.2352 0.840598 17.8632 1.02659L8.51662 5.6999H3.9999C2.01168 5.6999 0.399902 7.31168 0.399902 9.2999C0.399902 11.2881 2.01168 12.8999 3.9999 12.8999H4.335L6.46149 19.2794C6.62483 19.7694 7.0834 20.0999 7.59991 20.0999H8.79991C9.46265 20.0999 9.99991 19.5626 9.99991 18.8999V13.6416L17.8632 17.5732C18.2352 17.7592 18.677 17.7393 19.0308 17.5207C19.3846 17.302 19.5999 16.9158 19.5999 16.4999V2.0999Z"
                      fill="#F4F0EC" />
                  </svg>

                  <span class="fs-7 fs-md-6">本次活動由喵了個咪中途之家專屬提供</span>
                </div>
                <svg width="9" height="17" viewBox="0 0 9 17" fill="none" xmlns="http://www.w3.org/2000/svg"
                  class="ms-auto">
                  <path d="M0.999999 1.5L8 8.5L1 15.5" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </button>
            </div>
          </div>
          <!-- promotion-card 優惠活動卡片 -->
        </div>



        <!-- 分頁 -->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item fs-md-5 me-md-4"><a class="page-link text-primary rounded-0" href="#"><i
                  class="bi bi-chevron-left"></i></a>
            </li>

            <li class="page-item fs-md-5 me-md-4 active"><a class="page-link" href="#">1</a></li>

            <!-- <li class="page-item fs-md-5 me-md-4"><a class="page-link" href="#">2</a></li>
            <li class="page-item fs-md-5 me-md-4"><a class="page-link" href="#">3</a></li>
            <li class="page-item fs-md-5 me-md-4"><a class="page-link" href="#">...</a></li>
            <li class="page-item fs-md-5 me-md-4"><a class="page-link" href="#">7</a></li> -->

            <li class="page-item"><a class="page-link text-primary rounded-0" href="#"><i
                  class="bi bi-chevron-right"></i></a>
            </li>
          </ul>
        </nav>




      </div>

    </div>









    <%- include('./layout/footer'); -%>
      <%- include('./layout/scroll-top-button'); -%>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
          crossorigin="anonymous"></script>
        <script type="module" src="../main.js"></script>
</body>

</html>
