<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>訂閱成功</title>
</head>

<body>
  <%- include('./layout/header'); -%>



    <div class="bg-primary-200">

      <div class="container py-8">
        <div class="row justify-content-center my-3">
          <div class="col-md-10 col-lg-8 p-2">


            <div class="text-center ">

              <h1 class="text-center text-primary mb-6 fw-bold">感 謝 訂 閱</h1>
              <img
                src="https://images.unsplash.com/photo-1686406874890-37efaebe628e?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1280&h=600"
                alt="thankQ" class="img-fluid mb-8 mb-md-6 rounded-3" style="max-height: 432px;">

              <p>感謝您加入雲端寶貝的溫暖行列 💛</p>
              <p>從今天起，您將不會錯過任何關於毛寶貝的最新消息、公益活動與感人故事。</p>
              <p>如果有一天您想暫時休息，也能隨時透過電子報底部的「取消訂閱」按鈕輕鬆退出</p>
              <p>我們會在雲端等您回來。</p>

            </div>












          </div>
        </div>
      </div>

    </div>



    <%- include('./layout/scroll-top-button'); -%>
      <%- include('./layout/footer'); -%>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
          crossorigin="anonymous"></script>
        <script type="module" src="../main.js"></script>
</body>

</html>
